<div class="main-container">
<header class="header-6">
  <div class="branding">
      <a href="javascript://" class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">Project Tauhid</span>
      </a>
  </div>
  <div class="header-nav">
      <a routerLink="/student" class="nav-link nav-text" routerLinkActive="active">Student Data</a>
      <a routerLink="/profile" class="nav-link nav-text" routerLinkActive="active">Profile</a>
  </div>
  <div class="header-actions">
      <a routerLink="/profile" class="nav-link nav-icon-text">
          <clr-icon shape="user"></clr-icon>
          <span class="nav-text">Tauhid Test</span>
      </a>
  </div>
</header>

<div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>