        <clr-datagrid>
                <clr-dg-column>User ID</clr-dg-column>
                <clr-dg-column>Name</clr-dg-column>
                <clr-dg-column>NIM</clr-dg-column>

        <clr-dg-row *ngFor="let user of data">
                <clr-dg-cell>{{user.id}}</clr-dg-cell>
                <clr-dg-cell>{{user.name}}</clr-dg-cell>
                <clr-dg-cell>{{user.NIM}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer></clr-dg-footer>
        </clr-datagrid>