    <div class="clr-row">
        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
            <div class="card">
                <div class="card-header">
                    <clr-icon shape="user"></clr-icon> Profile
                </div>
                <div class="card-block">
                    <div class="card-title">
                        Username : Muhammad Syifa Tauhid<br>
                        Age : 22 Years<br>
                        Contact : 085695673132<br>
                        Email : syifatauhid@gmail.com<br>
                    </div>
                    <div class="card-text">
                        
                    </div>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>